.aboutbody {
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;    
    padding: 20px;
}

.infosheet{
    align-items: center;
}

.info-form {
    background: #134E5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bebae81, #74c1d680);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9bebae81, #74c1d680); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    max-width: 80%;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px 20px;
    box-shadow: 5px 5px 20px rgba(70, 70, 70, 0.703);
    overflow-wrap: break-word;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-left: 12px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 60px;
    font-size: 30px;
}

h3 {
    text-align: left;
    margin-left: 12px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

h4 {
    color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    font-size: large;
    text-align: left;
    /* justify-content: center; */
    /* margin-block-end: 14px;
    margin-block-start: 14px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 30px; */
    margin: 1px;
    padding-bottom: 1rem;

}

p {
    color: rgb(0, 0, 0);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: large;
    text-align: left;
    justify-content: center;
    margin-block-end: 14px;
    margin-block-start: 14px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 20px;
    width: 96%;
}