.App {
  height: 100%;
  overflow: hidden;
  /* overflow-y: scroll; */
  /* background: #D1913C;
  background: -webkit-linear-gradient(to right, #ffe9cd, #f8cc92); 
  background: linear-gradient(to right, #ffe9cd, #f8cc92); */

  background: #acc5bc;  /* fallback for old browsers */
}

.UBClogo {
  height: 100px;
}

.logo {
  background-color: white;
}

/* body, html {
  height: 100%;
} */

