.h4-tag {
    text-align: center;
}

.button-yes {
    border: 1.5px solid rgb(0, 94, 14);
    background-color: rgb(27, 204, 0);
    color: black;
    border-radius: 5px;
    font-family: inherit;
    font-size: 15px;
    text-decoration: none;
    padding: 12px;
    margin: 20px;
    position: relative;
    right: 18px;
       /* right: 90px; */
}
.button-no {
    border: 1.5px solid rgb(51, 0, 0);
    background-color: rgb(249, 21, 21);
    color: black;
    border-radius: 5px;
    font-family: inherit;
    font-size: 15px;
    text-decoration: none;
    padding: 12px;
    margin: 20px;
    position: relative;
    right: 18px
}

.fa-2x {
    vertical-align: middle;
}

.ChildVideo {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.video-file {
    text-align: center;
    margin-top: 2rem;
    margin-left: 17.5%;
    margin-right: 17.5%;
    width:65%;
    
}

.vid {
    width: 100%;
    height: 100%;
}

.child-survey-button {
    text-align: center;
}