
form{
    background-color: rgb(250, 250, 250);
    max-width: 80%;
    margin: 60px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    overflow-wrap: break-word;
    overflow: hidden;
    
    /* justify-content: center; */
}

.top-p, h4 {
    text-align: left;
    justify-items: center;
    padding-left: 10rem;
    margin-top: 20px;
    vertical-align: middle;
    font-size: large;
}

.top-1p {
    font-size: large;
    padding-top: 30px;
    text-align: left;
    justify-items: center;
    padding-left: 10rem;
}

.survey {
    font-size: medium;
}

.list {
    text-align: left;
    padding-left: 15rem;
    margin-top: 10px;
    font-size: medium;
}

.bottom-h4 {
    text-align: center;
}

.home--shell {
    word-wrap: break-word
}
 
.link-to-surveys {
    display: flex;
    margin-top: 50px;
    justify-content: center; 
}

.parent-survey {
    width: 500px;
    /* justify-content: center */
}
.child-assent {
    width: 500px;
    justify-content: center;
}

.info-links {
    align-items: center;
    /* width: 400px; */
}

.survey-button {
    position: relative;
    right: 90px;
    border: 1.5px solid rgb(127, 210, 255);
    background-color: rgb(196, 196, 196);
    color: black;
    padding: 2px;
    border-radius: 2px;
    font-family: inherit;
    font-size: 15px;
    text-decoration: none;
}

.survey-button1 {
    border: 1.5px solid rgb(127, 210, 255);
    background-color: rgb(196, 196, 196);
    color: black;
    padding: 2px;
    border-radius: 2px;
    font-family: inherit;
    font-size: 15px;
    text-decoration: none;
}

/* style={{ display: 'flex'}} */
/* //</form>, columnGap: '1rem' }}> */

/* Styling Button */
/* button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
} */