
/* body {
    background-color: rgb(255, 177, 75);
    min-height: 100vh;
} */

.homebody {
    background: url("../posts/stanley.jpeg");
    /* min-height: 100vh; */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.consent-form {
    width: 100%;
    background-color: rgb(241, 238, 238);
    max-width: 80%;
    margin-top: 80px ;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 20px;
    box-shadow: 20px 50px 50px rgba(0, 0, 0, 0.5);
    overflow-wrap: break-word;
    overflow: hidden;
}

/* .home--shell {
    width: 100%;
    height: 100%;
    background-color: aqua;
} */

/* .consent-form {
    margin-top: 80px;
} */


.top-p, h4 {
    width: 96%;
    margin-top: 20px;
    vertical-align: middle;
    font-size: large;
    font-family: "Open Sans", sans-serif;
}

.top-1p {
    font-size: large;
    width: 100%;
    padding-top: 30px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
}

.list {
    text-align: left;
    padding-left: 2rem;
    margin-top: 5px;
    font-size: medium;
    font-family: "Open Sans", sans-serif;
}

.survey {
    font-size: large;
    width: 80%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.bottom-h4 {
    text-align: center;
}
 
.link-to-surveys {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center; 
}

.parent-survey, .child-assent {
    width: 100%;
    text-align: center;
}

.survey-button {
    /* position: relative; */
    /* right: 90px; */
    border: 1.5px solid rgb(127, 210, 255);
    background-color: rgb(196, 196, 196);
    color: black;
    padding: 2px;
    border-radius: 2px;
    font-family: inherit;
    font-size: 15px;
    text-decoration: none;
    width:50%;
    margin-left:15%;
    margin-right:30%;
}

.survey-button1 {
    border: 1.5px solid rgb(127, 210, 255);
    background-color: rgb(196, 196, 196);
    color: black;
    padding: 2px;
    border-radius: 2px;
    font-family: inherit;
    font-size: 15px;
    text-decoration: none;
    width:50%;
    margin-left:19%;
    margin-right:25%;
}