
.imagesbody {
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 30px;
    padding-top: 1rem;
    
    
}
.perception-test {
    background: #e4eaec;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #9bebae81, #74c1d680);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #9bebae81, #74c1d680); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* margin: 1rem; */
    border: 1px solid rgb(86, 23, 0);
    border-radius: 6px;
}

#over10 {
    font: bold 25px Arial;
}
   
.page, .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding: 0.5rem; */
}

.actions {
    margin-bottom: 1rem
}

.img1, .img2 {
    border: 1px solid rgb(0, 0, 0);
}

.images {
    width: 100%;
    height: 100%;
}

.button {
    font: bold 16px Arial;
    text-decoration: none;
    background-color: #e6ea6f;
    color: #000000;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    border: 1px solid #624b00;
}

.ptag {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    margin-top: 1rem; 
}

.exit-button {
    font: bold 18px Arial;
    text-decoration: none;
    background-color: #fd6f6f;
    border: 1px solid rgb(71, 0, 0);
    color: #fdfcf6;
    padding: 4px 10px 4px 10px;
    border-radius: 3px;
    overflow: hidden;
}