.demographic {
    /* min-height: 100vh; */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    /* margin-top: -1rem; */
    padding: 20px;
}

form{
    background: #134E5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bebae81, #74c1d680);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9bebae81, #74c1d680); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    max-width: 1000px;
    margin: 60px auto;
    margin-top: 100px;
    padding: 30px 20px;
    box-shadow: 5px 5px 20px rgba(70, 70, 70, 0.703);
    overflow-wrap: break-word;
    border-radius: 10px;
}

label {
    font: semi-bold;
    font-size: 20px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: right;
    width: 500px;
    line-height: 26px;
    margin-bottom: 15px;
    margin-left: 15px;
}
input {
    height: 20px;
    flex: 1 0 100px;
    margin-left: 30px;
}

.next-button {
    font: 18px Arial;
    text-decoration: none;
    background-color: #30c174;
    color: #000000;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    border: solid rgb(89, 193, 146) 1px;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
}