.demographics {
    /* min-height: 100vh; */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
    font-weight: bold;
}

.parentInfo-form{
    background: #d7e3fc;  /* fallback for old browsers */
    max-width: 50rem;
    margin: 60px auto;
    margin-top: 100px;
    padding: 1rem 10rem;
    box-shadow: 5px 5px 20px rgba(70, 70, 70, 0.703);
    /* overflow-wrap: break-word; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.demo-label {
    padding: 1rem;
    margin: 1rem;
    font-size: 24px;
}

.next-button {
    font: 18px Arial;
    text-decoration: none;
    background-color: #30c174;
    color: #000000;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    border: solid rgb(89, 193, 146) 1px;
    padding: 10px 8px 10px 8px;
    margin-top: 3rem;
    margin-left: 10px;
}

.demo-label-fsa {
    padding-top: 0.5rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    
}

.form-control-fsa {
    margin: 0.5rem;
    padding: 0.4rem;
    margin-left: 15px;
    border-radius: 5px;
    
}

@media screen and (max-width: 680px) {
    .parentInfo-form {
        padding: 1rem 1rem;
    }
}